:root {
  --primary-color: rgb(248, 153, 144);
  --dull-color: #aaa;
  --dark-dull-color: #777;
  --white: #fff;
}

/* -------------- Reset -------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: poppins, Arial;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------- Layout -------------- */

#header,
#main,
#featured,
#videoDemo,
#data,
#footer {
  width: 100%;
}

#header,
#features,
#videoDemo,
#data,
#footer,
#into,
.features__hang,
.features__items,
#nav-bar,
.videoDemo__info__title,
.videoDemo__info__desc {
  display: flex;
  align-items: center;
}

#header {
  height: 7rem;
  padding: 0rem 1rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white);
}

#main {
  position: relative;
  min-height: 100vh;
}

#features {
  min-height: 100vh;
  padding: 1rem;
  background-color: #eee;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

#videoDemo {
  min-height: 100vh;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  background-color: var(--white);
}

#data {
  min-height: 100vh;
  padding: 1rem 2rem;
  background-color: #eee;
  flex-direction: column;
  justify-content: space-around;
}

#footer {
  min-height: 15vh;
  position: relative;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--white);
}

/* -------------- Sub Layouts -------------- */
#into {
  min-height: 100vh;
  width: 100%;
  /* border: 1px solid; */
  justify-content: space-around;
}

.features__hang,
.features__items {
  width: 100%;
  position: relative;
  /* border: 1px solid black; */
}

.features__hang {
  flex-direction: column;
  justify-content: center;
  min-height: 20%;
  margin: 0 1rem 4rem;
}

.features__items {
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80%;
}

.videoDemo__info,
.videoDemo__video {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.videoDemo__info {
  padding: 9rem 5rem 9rem 3rem;
  justify-content: space-evenly;
  align-items: flex-start;
}

.videoDemo__video {
  justify-content: center;
  align-items: center;
}

/* -------------- Components -------------- */
#header-img {
  height: 100px;
  width: 100px;
}

#nav-bar {
  height: 5rem;
  width: 50%;
  justify-content: space-between;
}

#nav-bar .nav-link {
  border-radius: 10px;
  color: #222;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  padding: 0.7rem;
}

#nav-bar .nav-link:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.content,
.img {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content {
  padding: 7rem 5rem;
}

.img {
  padding: 7rem 1rem;
}

.content > * {
  margin-bottom: 1.5rem;
  text-align: left;
}

.content__title {
  font-size: 3rem;
  font-weight: bold;
}

.content__desc {
  color: var(--dull-color);
}

.content__btn {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.7rem 2rem;
  transition: all 0.2s ease;
}

.content__btn:hover {
  background-color: rgb(240, 110, 93);
}

img {
  max-width: 100%;
}

.features__hang__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.features__hang__desc {
  font-size: 0.8rem;
  color: var(--dull-color);
}

.features__card {
  /* border: 1px solid; */
  border-radius: 20px;
  height: 20rem;
  width: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--white);
  transition: all 0.4s ease;
}

.features__card:hover {
  transform: scale(1.1, 1.1) translateY(10px);
}

.features__card__symbol {
  width: 50px;
  height: 50px;
}

.features__card__title {
  font-size: 1.5rem;
}

.features__card__desc {
  font-size: 0.7rem;
  color: var(--dark-dull-color);
}

#video {
  height: 20rem;
  max-width: auto;
}

.videoDemo__info__title,
.videoDemo__info__desc {
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
}

.videoDemo__info__title {
  font-size: 2.7rem;
  font-weight: 400;
}

.videoDemo__info__desc {
  color: var(--dull-color);
}

.data__title {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
}

.data__desc {
  text-align: center;
  color: var(--dull-color);
}

#email,
#submit {
  justify-self: flex-start;
}

#email {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 20rem;
}

#submit {
  cursor: pointer;
}

.fab {
  margin: 1rem;
}

/* -------------- Media Queries -------------- */
@media only screen and (max-width: 768px) {
  #nav-bar {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    height: 82vh;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  #nav-bar.active {
    left: 0;
  }

  .nav-link {
    margin: 2rem 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(135deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-135deg);
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 10px;
  }

  #into,
  #features,
  #videoDemo,
  #data {
    min-height: 70vh;
  }

  #into {
    flex-direction: column;
    justify-content: center;
  }

  #videoDemo {
    flex-direction: column;
  }

  #footer {
    min-height: 15vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #header-img {
    height: 50px;
    width: 50px;
  }

  .content,
  .img {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 1rem;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .content__title,
  .content__desc,
  .features__card__title,
  .features__card__desc,
  .videoDemo__info {
    text-align: center;
  }

  .content__title {
    font-size: 2rem;
  }

  .img {
    width: 85%;
    justify-content: flex-start;
  }

  .items {
    flex-direction: column;
  }

  .features__card {
    margin: 1rem;
  }

  .features__hang__title,
  .features__hang__desc {
    text-align: center;
  }

  .videoDemo__info {
    padding: 3rem;
    align-items: center;
  }
}

/* What's up u mf , hehehehehe 0*/
.features__card {
  /* border: 1px solid; */
  border-radius: 20px;
  height: 20rem;
  width: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--white);
  transition: all 0.4s ease;
}
